h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: 5000;
    color: rgb(0, 0, 0);
}

footer{
    background-color: rgb(233, 17, 17);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

header{
    background-color: rgba(114, 114, 117, 0.945);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(17, 16, 16);
    font-size: larger;
    text-align: center;
}
flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(10, 132, 231, 0.986);
  }
  
  .flex-container > div {
    background-color: #ebedf1;
    width: 700px;
    margin: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 30px;
  }